<% content_for :title do %>
  <title>SharePlan - Dashboard</title>
<% end %>

<% content_for :styles do %>
	<%= stylesheet_link_tag(
		"reset",
		"style",
		"jquery.select_skin",
		"jquery.jqplot.min")
	%>
<% end %>

<% content_for :scripts do %>
	<%= javascript_include_tag(
		"jquery-1.6.2.min",
		"jquery.select_skin",
		"jqplot/jquery.jqplot.min",
		"util",
		"model",
		"view",
		"controller")
	%>
	<script type="text/javascript">
		$(document).ready(function () {
			Controller.Dashboard.index();
			Controller.User.logout();
		});
	</script>
<% end %>


<!-- Main Container -->
<div id="dashboard" class="main-container widgets">

	<h1>Dashboard</h1>

	<div id="notifications" class="widget left">
		<div class="header">
			<h3>Notificações</h3>
		</div>
		
		<div class="body">
			<ul>
				<% @messages.each do |m| %>
				<li id="message<%= m.id %>">
					<a href="<%= m.url %>" title="<%= m.content %>"><%= m.content %></a>
					<div class="close" title="Remover notificação"></div>
				</li>
				<% end %>
			</ul>
			<a id="all-notifications" class="button" href="#" title="Ver todas as notificações">ver todas »</a>
		</div>
	</div>
	
	<div id="history-widget" class="widget right">
		<div class="header">
			<h3>Histórico da Conta</h3>
		</div>
		
		<div class="body">
			<div id="item-history">
				<select id="item-history-select" class="styled">
					<% @items.each do |i| %>
					<option value="<%= i.id %>"><%= i.name %></option>
					<% end %>
				</select>
			</div>
			<div id="history-chart"></div>
		</div>
	</div>
	
	<div id="last-projections" class="widget full">
		<div class="header">
			<h3>Últimas projeções</h3>
		</div>
		
		<div class="body">
			<div id="last-projections-container">
				<table id="last-projections-table" cellpadding="0" cellspacing="0" width="100%">
					<thead>
						<tr>
							<th>Projeção</th>
							<th class="center">Criado em</th>
							<th class="center">Versões</th>
							<th class="center">Comentários</th>
						</tr>
					</thead>
	
					<tbody>
						<% @projections.each_with_index do |p, index| %>
						<tr id="projection_<%= p.id %>" class="<%= index%2 == 0 ? "even" : "odd" %>">
							<td><a href="/projections/edit/<%= p.id %>" title="Visualizar projeção"><%= p.title == "" ? "(Sem Título)" : p.title %></a></td>
							<td class="center"><%= p.created_at.strftime("%d/%m/%Y - %H:%M") %></td>
							<td class="center"><%= p.childrens_count %></td>
							<td class="center"><%= p.comments_count %></td>
						</tr>
						<% end %>
					</tbody>
				</table>
			</div>
			<a id="all-projections" class="button" href="/projections" title="Ver todas as projeções">ver todas »</a>
		</div>
	</div>

</div>
<!-- Main Container -->