<!-- Progress -->
<ul id="new-projection-progress" class="progress">
	<li class="<%= (step == "one") ? "current " : "" %>corner-left-step"><a href="/projections/new_step_one/<%= id %>" title=""><span class="dot">1</span> Informações Básicas</a></li>
	<li class="<%= (step == "two") ? "current " : "" %>step"><a href="/projections/new_step_two/<%= id %>" title=""><span class="dot">2</span> Projetar DRE</a></li>
	
	<!--<li class="<%= (step == "three") ? "current " : "" %>corner-right-step"><a href="/projections/new_step_three/<%= id %>" title=""><span class="dot">3</span> Compartilhar</a></li>-->
</ul>
<!-- Progress -->