<% content_for :title do %>
  <title>SharePlan - Projeção: <%= @projection.title %></title>
<% end %>

<% content_for :styles do %>
	<%= stylesheet_link_tag(
		"reset",
		"base/jquery.ui.all",
		"facebox",
		"style",
		"jquery.jqplot.min",
		"jquery.select_skin",
		"jquery.dataTables",
		"jquery.gritter")
	%>
<% end %>

<% content_for :scripts do %>
	<!--[if lt IE 9]>
		<script language="javascript" type="text/javascript" src="/javascripts/jqplot/excanvas.min.js"></script>
	<![endif]-->
	<%= javascript_include_tag(
		"jquery-1.6.2.min",
		"jquery.dataTables.min",
		"jquery.gritter.min",
		"jquery.facebox",
		"jquery.tinyscrollbar",
		"jquery.maskedinput-1.3.min",
		"jqplot/jquery.jqplot.min",
		
		"ui/jquery.ui.core.min",
		"ui/jquery.ui.widget.min",
		"ui/jquery.ui.mouse.min",
		"ui/jquery.ui.sortable.min",
		"ui/jquery.ui.datepicker.min",
		"ui/jquery.ui.position.min",
		"ui/jquery.ui.button.min",
		"ui/jquery.ui.autocomplete.min",
		"ui/jquery.ui.combobox",
		
		"util",
		"model",
		"view",
		"controller")
	%>
	<script type="text/javascript">
		var projection_id = <%= @projection.id %>;
		var root_id = <%= @root_id %>;
		$(document).ready(function () {
			Controller.Projection.edit(projection_id, root_id);
			Controller.User.logout();
		});
	</script>
<% end %>

<!-- Main Container -->
<div class="main-container">
	
	<% if @new_version == true %>
	<ul class="messages">
		<li class="success"><p>Nova versão criada com sucesso!</p><span class="close"></span></li>
	</ul>
	<% end %>
	
	<h1 class="page">Projeção: <%= @projection.title %></h1>
					
	<!-- Edit Projection -->
	<div id="new-projection">
		
		<div id="income-statement-info" class="container-box">
			<ul id="projections-header" class="header">
				<li class="selected"><a class="select" id="select-information" href="#" title="">Informações</a></li>
				<li><a class="select" id="select-chart-tab" href="#" title="">Gráfico</a></li>
				<li><a class="select" id="select-versions" href="#" title="">Versões</a></li>
				<li><a class="select" id="select-comments" href="#" title="">Comentários</a></li>
			</ul>
			
			<div class="tab-items">
				<!-- INFORMATION -->
				<div id="information" class="container-tab active">
					
					<% if @can_edit == true %>
					<div class="container-form">
						<dl>
							<dd>
								<label class="label">Título:</label>
								<input type="text" class="value title" value="<%= @projection.title %>" />
							</dd>
							<dd>
								<label class="label">Comentários:</label>
								<textarea  class="value comment"><%= @projection.comment %></textarea>
							</dd>
							<dd>
								<label class="label">Início:</label>
								<input type="text" class="value datepicker start-date" value="<%= @projection.start_date ? @projection.start_date.strftime("%d/%m/%Y") : "" %>" />
							</dd>
							<dd>
								<label class="label">Fim:</label>
								<input type="text" class="value datepicker end-date" value="<%= @projection.end_date ? @projection.end_date.strftime("%d/%m/%Y") : "" %>" />
							</dd>
						</dl>
						
						<div class="buttons">
							<a class="button cancel" href="#" title="">Cancelar</a>
							<a class="button save" href="#" title="">Salvar</a>
						</div>
						<div style="clear: both;"></div>
					</div>
					<% end %>
					
					<div class="container-text">
						<% if @can_edit == true %>
						<a class="button edit" href="#" title="Editar informações">Editar</a>
						<% end %>
						<p>
							<span class="label">Título:</span>
							<span class="value title"><%= @projection.title %></span>
						</p>
						<p>
							<span class="label">Comentário:</span>
							<span  class="value comment"><%= @projection.comment %></span>
						</p>
						<p>
							<span class="label">Início:</span>
							<span class="value start-date"><%= @projection.start_date ? @projection.start_date.strftime("%d/%m/%Y") : "" %></span>
						</p>
						<p>
							<span class="label">Fim:</span>
							<span class="value end-date"><%= @projection.end_date ? @projection.end_date.strftime("%d/%m/%Y") : "" %></span>
						</p>
						<p style="clear: both;"></p>
					</div>
					
				</div>
				<!-- INFORMATION -->
				
				<!-- VERSIONS -->
				<div id="versions" class="container-tab">
					<div class="versions-inner">
						<div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
					 	<div class="viewport">
							<ul class="overview"></ul>
						</div>
					</div>
										
					<div class="buttons">
						<a class="new-version button" href="#" title="Criar nova versão">Criar Nova Versão</a>
					</div>
					
					<div class="new">
						<p class="title">Comentário sobre a nova versão:</p>
						<textarea class="comment"></textarea>
						<p class="message"></p>
						<a class="button create" href="#" title="Enviar">Criar</a> 
						<a class="button cancel" href="#" title="Cancelar">Cancelar</a>
						<div style="clear: both;"></div>
					</div>
				</div>
				<!-- VERSIONS -->
				
				<!-- COMMENTS -->
				<div id="comments" class="container-tab">
					<div class="comments-inner">
						<div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
					 	<div class="viewport">
					 		<div class="overview">
								<div class="list"></div>
							</div>
						</div>
					</div>
					
					<div class="new">
						<textarea class="content">Responder...</textarea>
						<p class="message"></p>
						<a class="button send" href="#" title="Enviar">Enviar</a> 
						<a class="button cancel" href="#" title="Cancelar">Cancelar</a>
						<div style="clear: both;"></div>
					</div>
				</div>
				<!-- COMMENTS -->
				
				<!-- CHART -->
				<div id="chart-tab" class="container-tab">
					<div id="chart">
						<div id="empty-chart">
			     			<p class="one">Nenhuma conta carregada</p>
			     			<p class="two">Clique nas contas para carregá-las no gráfico</p>
			     		</div>
					</div>
				</div>
				<!-- CHART -->
				
			</div>
		</div>
	
		<!-- Income Statement -->
		<div id="projection-income-statement">
			<h2>Demonstração do Resultado do Exercício</h2>
	
			<div id="income-statement">
				<ul class="header">
					<li class="account-label"><span>Conta</span></li>
					<li class="projection-label"><span>Projeção</span></li>
					<li class="options-label"><span>Opções</span></li>
				</ul>
	
				<ul class="body"></ul>
	
				<div class="footer">
					<div id="add-projection-item">Adicionar Conta</div>
				</div>
			</div>
	
		</div>
		<!-- Income Statement -->
	
		<!-- Bottom -->
		<div id="projection-bottom">
			<p>
				<span id="projection-save-date"></span>
				<a id="projection-discard" class="button" href="#" title="Descartar projeção">Descartar</a>
				<a id="projection-save" class="button" href="#" title="Salvar projeção">Salvar</a>
				
				<!-- ARRUMAR ISSO -->
				<% form_tag '/projections', :id => "step-three-form", :method => "post" do -%>
					<input type="hidden" name="status" value="success" />
				<% end -%>
			</p>
		</div>
		<!-- Bottom -->
		
	</div>
	<!-- Edit Projection -->
	
</div>
<!-- Main Container -->