<% content_for :title do %>
  <title>SharePlan - Projeção: <%= @projection.title %></title>
<% end %>

<% content_for :styles do %>
	<%= stylesheet_link_tag(
		"reset",
		"base/jquery.ui.all",
		"facebox",
		"style",
		"jquery.select_skin",
		"jquery.dataTables",
		"jquery.gritter")
	%>
<% end %>

<% content_for :scripts do %>
	<%= javascript_include_tag(
		"jquery-1.6.2.min",
		"jquery.dataTables.min",
		"jquery.gritter.min",
		"jquery.facebox",
		"jquery.tinyscrollbar",
		
		"ui/jquery.ui.core.min",
		"ui/jquery.ui.widget.min",
		"ui/jquery.ui.mouse.min",
		"ui/jquery.ui.sortable.min",
		"ui/jquery.ui.datepicker.min",
		"ui/jquery.ui.position.min",
		"ui/jquery.ui.button.min",
		"ui/jquery.ui.autocomplete.min",
		"ui/jquery.ui.combobox",
		
		"dygraph",
		"util",
		"model",
		"view",
		"controller")
	%>
	<script type="text/javascript">
		var projection_id = <%= @projection.id %>;
		$(document).ready(function () {
			Controller.Projection.edit(projection_id);
			Controller.User.logout();
		});
	</script>
<% end %>

<!-- Main Container -->
<div class="main-container">
	<h1 class="page">Projeção: <%= @projection.title %></h1>
					
	<!-- Edit Projection -->
	<div id="new-projection">
		
		<div id="income-statement-info" class="container-box">
			<ul id="projections-header" class="header">
				<li class="selected"><a id="select-information" href="#" title="">Informações</a></li>
				<li><a id="select-chart" href="#" title="">Gráfico</a></li>
				<li><a id="select-versions" href="#" title="">Versões</a></li>
				<li><a id="select-comments" href="#" title="">Comentários</a></li>
			</ul>
			
			<div class="tab-items">
				<!-- Chart -->
				<div id="projection-chart" style="display: none;">
					<h2>Gráfico</h2>
				
					<div id="chart-legend"></div>
					<div id="chart">
						<div id="empty-chart">
			     			<p class="one">Nenhuma conta carregada</p>
			     			<p class="two">Clique nas contas para carregá-las no gráfico</p>
			     		</div>
					</div>
				</div>
				<!-- Chart -->
			</div>
		</div>
	
		<!-- Income Statement -->
		<div id="projection-income-statement">
			<h2>Demonstração do Resultado do Exercício</h2>
	
			<div id="income-statement">
				<ul class="header">
					<li class="account-label"><span>Conta</span></li>
					<li class="projection-label"><span>Projeção</span></li>
					<li class="options-label"><span>Opções</span></li>
				</ul>
	
				<ul class="body"></ul>
	
				<div class="footer">
					<div id="add-projection-item">Adicionar Conta</div>
				</div>
			</div>
	
		</div>
		<!-- Income Statement -->
	
		<!-- Bottom -->
		<div id="projection-bottom">
			<p>
				<span id="projection-save-date"></span>
				<a id="projection-discard" class="button" href="#" title="Descartar projeção">Descartar</a>
				<a id="projection-save" class="button" href="#" title="Salvar projeção">Salvar</a>
				
				<!-- ARRUMAR ISSO -->
				<% form_tag '/projections/new_step_three/', :id => "step-three-form", :method => "post" do -%>
					<input type="hidden" name="status" value="success" />
				<% end -%>
			</p>
		</div>
		<!-- Bottom -->
		
	</div>
	<!-- Edit Projection -->
	
</div>
<!-- Main Container -->