<% content_for :title do %>
  <title>SharePlan - Nova Projeção</title>
<% end %>

<% content_for :styles do %>
<link rel="stylesheet" href="/stylesheets/reset.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/stylesheets/base/jquery.ui.all.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/stylesheets/facebox.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/stylesheets/style.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/stylesheets/jquery.tipsy.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/stylesheets/jquery.select_skin.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/stylesheets/jquery.dataTables.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/stylesheets/jquery.gritter.css" type="text/css" media="screen" />
<% end %>

<% content_for :scripts do %>
<script src="/javascripts/jquery-1.6.2.min.js" type="text/javascript"></script>
<script src="/javascripts/jquery.tipsy.js" type="text/javascript"></script>
<script src="/javascripts/jquery.dataTables.min.js" type="text/javascript"></script>
<script src="/javascripts/jquery.gritter.min.js" type="text/javascript"></script>
<script src="/javascripts/highcharts.js" type="text/javascript"></script>
<script src="/javascripts/facebox.js" type="text/javascript"></script>

<script src="/javascripts/ui/jquery.ui.core.min.js" type="text/javascript"></script>
<script src="/javascripts/ui/jquery.ui.widget.min.js" type="text/javascript"></script>
<script src="/javascripts/ui/jquery.ui.mouse.min.js" type="text/javascript"></script>
<script src="/javascripts/ui/jquery.ui.sortable.min.js" type="text/javascript"></script>
<script src="/javascripts/ui/jquery.ui.datepicker.min.js" type="text/javascript"></script>
<script src="/javascripts/ui/jquery.ui.position.min.js" type="text/javascript"></script>
<script src="/javascripts/ui/jquery.ui.button.min.js" type="text/javascript"></script>
<script src="/javascripts/ui/jquery.ui.autocomplete.min.js" type="text/javascript"></script>

<script src="/javascripts/jquery.ui.widgets.js" type="text/javascript"></script>


<script src="/javascripts/util.js" type="text/javascript"></script>
<script src="/javascripts/model.js" type="text/javascript"></script>
<script src="/javascripts/view.js" type="text/javascript"></script>
<script src="/javascripts/controller.js" type="text/javascript"></script>

<script type="text/javascript">
	$(document).ready(function () {
		Controller.Projection.newStepOne();
		Controller.Sidebar.initialize();
	});
</script>
<% end %>


<!-- Nova Projeção -->
<div id="projecao">
	<h1 id="projecao-title"><span>Nova Projeção</span></h1>

	<!-- Steps -->
	<div class="steps">
		<div class="left-corner  left-corner-current"></div>
		
		<div class="step current"><a href="" title="">Definir Período e Template</a></div>
		
		<div class="arrow arrow-left-current"></div>
		
		<div class="step"><a href="" title="">Projetar DRE</a></div>
		
		<div class="arrow"></div>
		
		<div class="step"><a href="" title="">Compartilhar</a></div>
		
		<div class="right-corner"></div>
	</div>
	<!-- Steps -->
	
	<% if @projection.errors.any? %>
	<ul class="messages">
		<% @projection.errors.full_messages.each do |msg| %>
		<li class="error"><p><%= msg %></p><span class="close"></span></li>
		<% end %>
	</ul>
	<% end %>
	
	<div id="projecao-form" class="form-container">
		<form action="save_step_one" method="post">
			<fieldset>
				<legend>Período</legend>
				<dl class="inline">
					<dt class="first">
						<label>De</label>
					</dt>
					<dd>
						<input type="text" class="datepicker" name="projection[start_date]" id="start-date" value="<%= @projection.start_date ? @projection.start_date.strftime("%d/%m/%Y") : "" %>" />
					</dd>
					
					<dt>
						<label>até</label>
					</dt>
					<dd>
						<input type="text" class="datepicker" name="projection[end_date]" id="end-date" value="<%= @projection.end_date ? @projection.end_date.strftime("%d/%m/%Y") : "" %>" />
					</dd>
					<dt id="invalid-period" class="invalid">
						<span class="invalid-message">Você precisa informar um período</span>
					</dt><dd></dd>
				</dl>
			</fieldset>
			
			<fieldset>
				<legend>Template</legend>
				<dl class="normal">
					<dt>
						<label>Escolha um template</label>
					</dt>
					<dd>
						<select name="template" id="template">
							<option>Escolher</option>
							<option>Option One</option>
							<option>Option Two</option>
							<option>Option Three</option>
						</select>
						<p>Templates contém a estrutura das contas e seus grupos, usar templates facilita a criação de projeções</p>
					</dd>
				</dl>
			</fieldset>
			
			<fieldset>
				<legend>Informações</legend>
				<dl class="normal">
					<dt>
						<label>Título</label>
					</dt>
					<dd>
						<input type="text" class="large" name="projection[title]" value="<%= @projection.title %>" />
						<p>Descreve brevemente a projeção para poder indentificá-la posteriormente</p>
					</dd>
					
					<dt>
						<label>Comentário</label>
					</dt>
					<dd>
						<textarea class="large" name="projection[comment]"><%= @projection.comment %></textarea>
						<p>Se desejar, pode colocar aqui alguns comentários/observações a respeito de sua projeção</p>
					</dd>
				</dl>
			</fieldset>
		</form>	
	</div>
	
	<!-- Bottom -->
	<div id="projecao-bottom">
		<p>
			<a id="projecao-cancel" class="blue-button" href="#" title="Cancelar criação de projeção">Cancelar</a>
			<a id="projecao-next" class="blue-button" href="#" title="Ir para o próximo passo">Próximo »</a>
		</p>
	</div>
	<!-- Bottom -->

</div>
<!-- Nova Projeção -->