<!DOCTYPE html>
<html>
	<head>
		<%= yield :title %>
		<meta charset="UTF-8">
		<meta name="description" content="">
		<meta name="author" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
		<!-- CSS Styles -->
		<%= yield :styles %>
		
		<%= csrf_meta_tag %>
	</head>
	<body>
		<!-- Wrapper -->
		<div id="wrapper">
			
			<!-- Header -->
			<div id="header">
				
				<div id="logo">
					<a href="#" title="Ir para página principal"><img src="/images/logo.png" alt="logo" /></a>
				</div>
							
				<ul id="menu">
					<li><a class="<%= controller.controller_name == "dashboard" ? "current " : "" %>dashboard" href="<%= url_for(:controller => 'dashboard') %>" title="">Dashboard</a></li>
					<li><a class="<%= controller.controller_name == "projections" ? "current " : "" %>projection" href="<%= url_for(:controller => 'projections') %>" title="">Projeções</a></li>
					<li><a class="<%= controller.controller_name == "history" ? "current " : "" %>history" href="<%= url_for(:controller => 'history') %>" title="">Histórico</a></li>
					<li><a class="<%= controller.controller_name == "templates" ? "current " : "" %>templates" href="<%= url_for(:controller => 'templates') %>" title="">Templates</a></li>
				</ul>
				
			</div>
			<!-- Header -->
			
			<!-- Userbox -->
			<div id="userbox">
				<div id="username">
					Olá <a href="<%= url_for(:action => 'edit', :controller => 'users') %>" title="Editar meus dados">mayconbordin</a>
					(<a id="sign-out" href="<%= url_for(:action => 'sign_out', :controller => 'users') %>" title="">Sair</a>)
				</div>
			</div>
			<!-- Userbox -->
			
			<%= yield %>
			
		</div>
		<!-- Wrapper -->
		
		<!-- JS Scripts -->
		<%= yield :scripts %>
	</body>
</html>